# Ignore DS_Store files
.DS_Store
/iOS/.DS_Store
/iOS/KitchIN/.DS_Store

# Ignore GoogleService-Info.plist files (./iOS/KitchIN/KitchIN/GoogleService-Info.plist)
/iOS/KitchIN/KitchIN/GoogleService-Info.plist