@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: CreteRound-Italic;
    src: url(./fonts/CreteRound-Italic.ttf);
}

@font-face {
    font-family: CreteRound-Regular;
    src: url(./fonts/CreteRound-Regular.ttf);
}